input,
label,
select,
button,
textarea
{
    margin:0;
    border:0;
    padding:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
}

/* Remove the stupid outer glow in Webkit */
input:focus, select:focus, button:focus
{
    outline:0;
}
